head{
    background-image: url("bg.png");
    background-repeat: no-repeat;
    background-position: center;
}
body{
    font-family: 'Bebas Neue', cursive;
}
.name-highlight{
    color:tomato; 
}
.half-width{
    width: 40%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;
}
.half-width h1{
    font-size: 50px;
    font-weight: 700;
    font-family: 'Roboto', sans-serif;
}
.half-width img{
width: 100%;
padding-right: 5%;
}
section{
    height: 500px;
    padding-bottom: 100px;
}
.link-button{
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    background-color: tomato;
    padding: 15px;
    color: white;
    font-weight: 400;
    border-radius: 5px;
}


.one-third{
    width: 25%;
    float: left; 
    margin-left: 5%;
    padding-left: 2%;
    box-shadow: 10px 10px 40px gray;
    border-radius: 25px;
    height: 400px;
}
.one-third img{
    width: 92%;
    padding: 10px 0;
}
.work-inquiry{
    background-image: url("shapes/bg3.png");
    height: 500px;
    width: 60%;
}